$primary-color: lightgreen;

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(165, 67, 67, 0.1);
  border: 1px solid green;
}

.title {
  font-size: 2rem;
  color: $primary-color;
  margin-bottom: 1rem;
}
